
body {
   background: rgb(183, 170, 178);
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

header {
  background: #604d87;
  padding: 2rem;
}
nav {
  display: flex;
  justify-content: space-between;
}
.navText {
  color: wheat;
}

nav h1{
  margin: 0;
  text-decoration: none;
  list-style: none;
}

nav h1 .active{
  margin: 0;
  list-style: none;
  text-decoration: none;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* automatically added by NavLink component */
.NavList .active {
  color: #ffffff;
  
}