.tetherContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tetherBlock {
    background: linear-gradient(135deg, #2c3e50, #874ba1);
    padding: 4vh;
    border-radius: 20px;
    margin: 5vh;
}